@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Wallpoet&display=swap');

body{
    font-family: 'Poiret One', cursive;
    background-color: #AFD3E2;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Wallpoet', cursive;
    color: #F6F1F1;
    font-size: 50PX;
}

.subtitulo {
    color: #F6F1F1;
    font-size: 35PX;
}

.tarjetas, #botones-ataque{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    font-size: 35PX;
    font-weight: bold;
    width: 300px;
    height: 200px;
    background: #19A7CE;
    padding: 10px;
    box-sizing: border-box;
    border: 1px transparent #146C94;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

input{
    display: none;
}

input:checked + label{ /* El "+" me permite que se modifique la clase hermana (La que le sigue), al cumplir la condicón de la pseudoclase */
    background-color: #146C94;
}

#boton-mascota {
    font-family: 'Poiret One', cursive;
    font-size: 24PX;
    width: 400px;
    height: 45px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #146C94;
    margin-top: 20px;
}


/* Estilos de segunda pantalla */

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-ataque{
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    width: 100px;
    background-color: #19A7CE;
    color: #F6F1F1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 20px;
}

#mensajes {
    width: 280px;
    background: #146C94;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultado{
    color: #F6F1F1;
    font-size: 30px;
}

#boton-reiniciar{
    font-weight: bold;
    font-family: 'Poiret One', cursive;
    border: none;
    background-color: #19A7CE;
    border-radius: 20px;
    padding: 10px;
}

.ataques-jugador{
    grid-area: jugador;
}

.ataques-enemigo{
    grid-area: enemigo;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-areas: "jugador . enemigo";
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin: 20px 0px 0px 0px;
}

#mascota-jugador, #mascota-enemigo {
    font-size: 24px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    font-family: 'Poiret One', cursive;
    font-size: 24PX;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #146C94;
    margin: 10px 2px;
}

 @media (max-width: 560px) { /*Lo que se va aplicar desde 0px hasta 360px */

    .titulo{
        font-size: 40px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .tarjetas{
        flex-direction: column;
    }

    #botones-ataque {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 300px) {
    #ver-mapa div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}